
* {
  list-style-type: none;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
  background: url('../images/Blue_Abstract_Vector_Background.png') no-repeat center center;
  background-size: cover;
}

h1 {
   text-shadow: 2px 2px rgb(202 255 255);
}

p {
  font-weight: 500;
}

ul{
  padding-left: 0px;
}

 h1 {
   font-size: 2.5em;
   font-weight: 500;
   margin: 0px 0px 20px;
 }

.navbar {
  background-color: rgba(31, 58, 147, 1);
}

.navbar-dark .navbar-toggler {
  margin-left: auto;
  color: white;
  border-color: white;
}

.nav-link:hover {
  transform: scale(1.2);
  color: rgb(202 255 255);
}

.social {
  position: sticky;
  display:flex;
}

svg:hover {
  transform: scale(1.2);
  fill: rgb(202 255 255);
}

.linkedin {
  margin: 0 15px;
}

.email:hover, .footer-email:hover {
  cursor: pointer;
}

.profile-pic {
  display: block;
  width: 40vw;
  min-width: 150px;
  max-width: 250px;
  border-radius: 50%;
  margin: 0px auto 20px auto;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0rem 0rem;
}

#title-text h1, .bio-body {
  text-align: center;
}
.bio-body {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
}

.title {
  margin: 1rem auto 3rem auto;
}

#title-text h3 {
  text-align: center;
}
.resources {
  margin-top: 3rem;
}

.resources h1 {
  text-align: center;
}
.projects {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}

.card {
  margin: 30px auto;
  max-width: 325px;
  box-shadow: 2px 2px rgba(202, 255, 255, .3);
}

.card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.btn-primary {
  margin: auto auto 0px;
  width: 200px;
}

.break:nth-of-type(2n) {
  transform: skew(0deg, 357deg);
}

.break {
  transform: skew(0deg, 3deg);
  height: 50px;
  background-color: rgba(31, 58, 147, 1);
  border-bottom: 5px solid yellow;
  margin: 3rem 0;
}

.search {
  margin: auto;
  width: 175px;
}

#skill-filter {
  padding-left: 2rem;
  width: 100%;
  height: 2.5rem;
}

.anchor {
  width: 75px;
    margin:auto;
}
.anchor:nth-of-type(2n) {
  display:inline-block;
}
#projects-anchor:hover {
  transform: none;
}

#projects-anchor {
  fill: #216fd1;
}
.top-anchor {
  transform-origin: top;
  animation: slide 1.25s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes slide {
    0% {opacity: 0;}
    100% {opacity: 1; transform: translateY(75px) scale(1.4);}
}

/* EMAIL MODAL */
.hidden {
  display: none;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-color: rgba(10,10,10,.8);
}
.popup {
    margin: 10vh auto auto;
    position: relative;
    background: #fff;
    border:1px solid rgba(123, 194, 188);
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
}

.popup-close {
  padding: 5px 10px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #fff;
  background-color: rgba(9,9,121,1);
  border-radius: 50%;
}

input[type=text] {
  margin-bottom: 15px;
  line-height: 1.5;
  width: 100%;
}

input[type=text]:focus, textarea:focus {
  background-color: rgba(202, 255, 255, .4);
  border:0px;
  border: rgba(9,9,121,1);
}


.email-message {
    margin:5vh 10px;
    display: flex;
    flex-direction: column;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#email-address, #subject {
  width: 100%;}

.submit-btn {
  width: 150px;
  margin: 2rem auto 0;
  padding: 10px 0;
  border-radius: 10px;
  color: white;
  background-color: rgba(31, 58, 147, 1);
  font-weight: 600;
}

/* FOOTER */
.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.copyright .social {
  padding-bottom: 1rem;
}

.copyright, .copyright a {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .popup {
      margin: 10% auto auto;
      position: relative;
      background: #fff;
      border:1px solid rgba(123, 194, 188);
      border-radius: 5px;
      width: 60%;
      max-width: 500px;
  }
  .email li {
    margin-right: 1.5rem;
  }

  .bio {
    padding: 3rem 3rem 0rem;
    align-items: center;
  }

  .bio-body {
    max-width: 600px;
    flex-direction: column;
  }

  .social {
    display:flex;
  }
  .linkedin {
    margin: 0 30px;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #title-text {
    margin: auto;
    padding: 50px;
  }

  #title-text h3, #title-text h1 {
    text-align: left;
  }


  .profile-pic {
    width: 250px;
    height: 250px;
    margin: 10px;
  }

  .name {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }

  .projects {
    margin: 0rem 2rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 2rem;
  }

  .search {
    margin: auto;
    width: 250px;
  }

  .card {
    margin: 20px auto;
  }
  .card-text {
    text-align: left;
  }
}


@media only screen and (min-width: 1024px) {
  .projects {
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 1rem;
  }
  }
