body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}
 h1 {
   font-size: 2.5em;
   font-weight: 500;
   margin: 0px 0px 20px;
 }

.navbar {
  background-color: darkblue;
}

.navbar-dark .navbar-toggler {
  margin-left: auto;
  color: white;
  border-color: white;
}


.social {
  position: sticky;
  display:flex;
}

.linkedin {
  margin: 0 15px;
}

.profile-pic {
  display: block;
  width: 40vw;
  min-width: 150px;
  max-width: 250px;
  border-radius: 50%;
  margin: 0px auto 20px auto;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0rem 0rem;
}

.bio h1, .bio-body {
  text-align: center;
}

.title {
  margin: 1rem auto 3rem auto;
}

#title-text h3 {
  text-align: center;
}
.resources {
  margin-top: 3rem;
}
.projects {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}

.card {
  margin: 30px auto;
  width: 18rem;
}

.card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.btn-primary {
  margin: auto auto 0px;
  width: 200px;
}

.break:last-of-type {
  transform: skew(0deg, 357deg);
}

.break {
  transform: skew(0deg, 3deg);
  height: 50px;
  background-color: darkblue;
  border-bottom: 5px solid yellow;
  margin: 3rem 0;
}


.form-select {
  width: 50%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .bio {
    padding: 3rem 3rem 0rem;
    align-items: center;
  }

  .social {
    display:flex;
  }
  .linkedin {
    margin: 0 30px;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #title-text {
    margin: auto;
    padding: 50px;
  }
  #title-text h3 {
    text-align: right;
  }
  .profile-pic {
    width: 250px;
    margin: 10px;
  }

  .projects {
    margin: 0rem 2rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 2rem;
  }

  .form-select {
    width: 400px;
    margin: auto;
  }

  .card {
    margin: 20px auto;
  }
  .card-text {
    text-align: left;
  }
}


@media only screen and (min-width: 1024px) {
  .projects {
    margin: 0rem 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 2rem;
  }
  }
